# Config File for Metaltree

# Base URI which will be crawled
uri = "http://www.gumtree.com/flatshare/london/page"

# Max age of properties to scrape (posted time)
max_age = "1 month ago"

[aws]
access_key_id = ""
secret_access_key = ""

[aws.sqs]
endpoint = "sqs.eu-west-1.amazonaws.com"
queue_name = "properties"